version: "3"

services:
  namenode:
    image: registry.cn-hangzhou.aliyuncs.com/codeboytj/hadoop-fully-distributed:hbase
    networks:
      hdfs:
        ipv4_address: 172.19.0.2
    container_name: namenode
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=namenode:2888:3888 server.2=datanode1:2888:3888 server.3=datanode2:2888:3888 server.4=datanode3:2888:3888
      CLUSTER_NAME: test
    ports:
      - "50070:50070"
      - "8088:8088"
    hostname: namenode
    extra_hosts:
      - "namenode:172.19.0.2"
      - "datenode1:172.19.0.3"
      - "datenode2:172.19.0.4"
      - "datenode3:172.19.0.5"
    privileged: true


  datanode1:
    image: registry.cn-hangzhou.aliyuncs.com/codeboytj/hadoop-fully-distributed:hbase
    networks:
      hdfs:
        ipv4_address: 172.19.0.3
    container_name: datanode1
    environment:
      ZOO_MY_ID: 2
      ZOO_SERVERS: server.1=namenode:2888:3888 server.2=datanode1:2888:3888 server.3=datanode2:2888:3888 server.4=datanode3:2888:3888
      CLUSTER_NAME: test
    depends_on:
      - namenode
    hostname: datanode1
    extra_hosts:
      - "namenode:172.19.0.2"
      - "datenode1:172.19.0.3"
      - "datenode2:172.19.0.4"
      - "datenode3:172.19.0.5"
    privileged: true

  datanode2:
    image: registry.cn-hangzhou.aliyuncs.com/codeboytj/hadoop-fully-distributed:hbase
    networks:
      hdfs:
        ipv4_address: 172.19.0.4
    container_name: datanode2
    environment:
      ZOO_MY_ID: 3
      ZOO_SERVERS: server.1=namenode:2888:3888 server.2=datanode1:2888:3888 server.3=datanode2:2888:3888 server.4=datanode3:2888:3888
      CLUSTER_NAME: test
    depends_on:
      - namenode
    hostname: datanode2
    extra_hosts:
      - "namenode:172.19.0.2"
      - "datenode1:172.19.0.3"
      - "datenode2:172.19.0.4"
      - "datenode3:172.19.0.5"
    privileged: true

  datanode3:
    image: registry.cn-hangzhou.aliyuncs.com/codeboytj/hadoop-fully-distributed:hbase
    networks:
      hdfs:
        ipv4_address: 172.19.0.5
    container_name: datanode3
    environment:
      ZOO_MY_ID: 4
      ZOO_SERVERS: server.1=namenode:2888:3888 server.2=datanode1:2888:3888 server.3=datanode2:2888:3888 server.4=datanode3:2888:3888
      CLUSTER_NAME: test
    depends_on:
      - namenode
    hostname: datanode3
    extra_hosts:
      - "namenode:172.19.0.2"
      - "datenode1:172.19.0.3"
      - "datenode2:172.19.0.4"
      - "datenode3:172.19.0.5"
    privileged: true

networks:
  hdfs:
    driver: bridge
    ipam:
      driver: default
      config:
      -
        subnet: 172.19.0.0/16
